
<h3>Список групп</h3>
<div ng-if="isAdmin" class="row">
    <div class="col-md-offset-10">
        <a href="#!/group/add" class="btn btn-info" role="button"><i class="fa fa-plus" aria-hidden="true"></i> Добавить группу</a>
    </div>
</div>
<table class="table table-striped zen-table-bordered">
    <thead>
    <tr class="dropdown">
        <th>
            <span style="cursor: pointer;" ng-click="sortData('name')">Группа <i ng-class="getSortClass('name')"></i></span>
        </th>
        <th>
            <span style="cursor: pointer;" ng-click="sortData('description')">Описание <i ng-class="getSortClass('description')"></i></span>
        </th>
        <!--<th>
            <span style="cursor: pointer;" ng-click="sortData('progress')">Общий прогресс <i ng-class="getSortClass('progress')"></i></span>
            <i popover-placement="bottom-right" uib-popover-template="studentFilterPopover.templateUrl" style="float: right; cursor: pointer;" class="fa fa-filter"></i>
        </th>
        <th>
            <span style="cursor: pointer;" ng-click="sortData('status')">Статус <i ng-class="getSortClass('status')"></i></span>
            <i popover-placement="bottom-right" uib-popover-template="studentFilterPopover.templateUrl" style="float: right; cursor: pointer;" class="fa fa-filter"></i>
        </th>
        <th>
            <span style="cursor: pointer;" ng-click="sortData('revenues_when')">Год зачисления <i ng-class="getSortClass('revenues_when')"></i></span>
            <i popover-placement="bottom-right" uib-popover-template="gradeFilterPopover.templateUrl" style="float: right; cursor: pointer;" class="fa fa-filter"></i>
        </th>-->
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="group in groups | orderBy: sortColumn:reverseSort | filter:$ctrl.searchText | itemsPerPage:5">
        <td><a href="#!/group/{{group.id}}">{{ group.name }}</a></td>
        <td>{{ group.description }}</td>
        <!--<td>{{ group.progress }}%</td>
        <td>{{ group.status | groupStatus }}</td>
        <td>{{ group.revenues_when | date: 'yyyy' }}</td>-->
    </tr>
    </tbody>
</table>
<dir-pagination-controls
        max-size="5"
        direction-links="true"
        boundary-links="true" >
</dir-pagination-controls>
