<div  class="page-header">
    <h2 class="text-center">Создание базы знаний диалоговой системы</h2>
</div>
<form name="addtkb" class="form-center" ng-show="!id" style="width: 600px;">
    <div class="form-group">
        <label for="name">Название диалоговой системы</label>
        <input ng-model="newTalkkb.name" type="text"
               class="form-control" name="name" id="name" placeholder="Название"
               autofocus ng-minlength="3" ng-maxlength="25" required username/>
        <div ng-show="addtkb.$submitted || addtkb.name.$touched">
            <div class="text-danger" ng-show="addtkb.name.$error.username">Данное название использовать нельзя</div>
            <div class="text-danger" ng-show="addtkb.name.$error.required">Введите название</div>
            <div class="text-danger" ng-show="addtkb.name.$error.minlength">Минимальное значение 3 символа</div>
            <div class="text-danger" ng-show="addtkb.name.$error.maxlength">Максимальное значение 25 символов</div>
        </div>
    </div>
    <div class="form-group">
        <label for="description">Описание</label>
        <input ng-model="newTalkkb.description" type="text"
               name="description" class="form-control" id="description"
               placeholder="Описание" ng-maxlength="25">
        <div ng-show="addtkb.$submitted || addtkb.description.$touched">
            <div class="text-danger" ng-show="addtkb.description.$error.required">Введите название</div>
            <div class="text-danger" ng-show="addtkb.description.$error.minlength">Минимальное значение 3 символа</div>
            <div class="text-danger" ng-show="addtkb.description.$error.maxlength">Максимальное значение 25 символов</div>
        </div>
    </div>
    <button ng-click="addTalkkb()" class="btn btn-success btn-block">Создать</button>
</form>