.zen-table-bordered {
    border-collapse: collapse;
}

.zen-table-bordered th {
    border-bottom: 1px solid #ddd;
}
.zen-table-bordered td, .zen-table-bordered th {
    border-left: 1px solid #ddd;
    padding: 5px 10px;
}
.zen-table-bordered td:first-child, .zen-table-bordered th:first-child {
    border-left: none;
}
