/* Common styles */
body {
    background-color: white;
}
/*.form-control {
    padding: 10px;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    height: auto;
}*/
/*.form-control:focus {
    z-index: 2;
}*/

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: white;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);;
}
.footer .text-muted {
    margin: 10px;
    text-align: center;
}

/* Sign form styles*/
.form-sign {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}
.form-sign .form-group {
    margin-top: 15px;
}
.form-sign button {
    margin-top: 15px;
}

.keyword-list {
    width: auto;
    display: table;
}

.keyword-item {
    cursor: pointer;
}
.keyword-item:hover {
    font-weight: bold;
}

.action {
    cursor: pointer;
}

.act {
    cursor: pointer;
    opacity: 0.4;
}

.act:hover {
    cursor: pointer;
    opacity: 1;
}

.act-danger {
    cursor: pointer;
    opacity: 0.4;
}

.act-danger:hover {
    cursor: pointer;
    opacity: 1;
    color: crimson;
}

.act-success {
    cursor: pointer;
    opacity: 0.4;
}

.act-success:hover {
    cursor: pointer;
    opacity: 1;
    color: green;
}

.act-primary {
    cursor: pointer;
    opacity: 0.4;
}

.act-primary:hover {
    cursor: pointer;
    opacity: 1;
    color: darkblue;
}

.message-bubble
{
    padding: 10px 0px 10px 0px;
}

.message-bubble:nth-child(even) { background-color: #F5F5F5; }

.message-bubble > *
{
    padding-left: 10px;
}

.panel-body { padding: 0px; }

.panel-heading { background-color: #3d6da7 !important; color: white !important; }

.form-center {
    max-width: 600px;
    padding: 15px;
    margin: 0 auto;
}
.form-center .form-control {
    margin-bottom: 15px;
}
.form-center button {
    margin-top: 15px;
}

.super-message-container {
    display: block;
    position: fixed;
    overflow: visible;
    height: 0;
    z-index: 1050;
    width: 100%;
}

.message-container {
    margin: 20px auto 0 auto;
    width: 600px;
}