<div class="page-header">
    <h2 style="display: inline">{{kbase.name}}</h2>
    <span style="position:absolute; margin-bottom: 7px;" class="label label-default">база знаний</span>
</div>
<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>Название</dt>
            <dd>{{kbase.name}}</dd>

            <dt>Описание</dt>
            <dd>{{kbase.description}}</dd>
        </dl>
    </div>

    <div class="col-md-6">
        <dl class="dl-horizontal">

            <dt>Пользователь</dt>
            <dd>{{kbase.author.username}}</dd>

            <dt>Дата создания</dt>
            <dd>{{kbase.created_when | date: 'dd.MM.yyyy'}}</dd>
        </dl>
    </div>
    <div class="col-md-12">
        <ul class="nav nav-tabs" ng-init="tab=1">
            <li role="presentation" ng-class="tab == 1 ? 'active':''"><a class="action" ng-click="tab=1">Ключевые слова</a></li>
            <li role="presentation" ng-class="tab == 2 ? 'active':''"><a class="action" ng-click="tab=2">Отклики</a></li>
            <li role="presentation" ng-class="tab == 3 ? 'active':''"><a class="action" ng-click="tab=3">Диалог</a></li>
            <li role="presentation">
                <a ng-click="downloadKb();" class="action"><i class="fa fa-cloud-download" aria-hidden="true"></i> Выгрузить базу знаний</a>
            </li>
        </ul>
    </div>
    <div ng-show="tab==1" class="col-md-12">
        <keyword-list kbase-id="{{id}}"></keyword-list>
    </div>
    <div ng-show="tab==2" class="col-md-12">
        <response-list kbase-id="{{id}}"></response-list>
    </div>
    <div ng-show="tab==3" class="col-md-12">
        <!-- note: 'ng-if' for waiting data from server -->
<!--        <conversation ng-if="tab==3 && kbase.user_id" kbase-user-id="kbase.user_id"></conversation>-->
        <conversation-list ng-if="kbase.user_id" user-id="kbase.user_id"></conversation-list>
    </div>
</div>
