<div class="page-header">
    <h2 class="text-center">Регистрация</h2>
</div>
<form novalidate class="form-sign" name="userForm">

    <div class="form-group"
         ng-class="{'has-error': (userForm.$submitted || userForm.username.$touched) && userForm.username.$invalid}">

        <label class="control-label" for="username">Имя пользователя</label>
        <input ng-model="username" type="text"
               id="username" name="username"
               class="form-control" placeholder="Имя пользователя"
               required autofocus username ng-minlength="3" ng-maxlength="25" allowed/>

        <div ng-show="userForm.$submitted || userForm.username.$touched">
            <div class="text-danger" ng-show="userForm.username.$error.required">Введите имя пользователя</div>
            <div class="text-danger" ng-show="userForm.username.$error.username">Имя пользователя уже занято</div>
            <div class="text-danger" ng-show="userForm.username.$error.minlength">Имя пользователя должно содержать минимум 3 символа</div>
            <div class="text-danger" ng-show="userForm.username.$error.maxlength">Имя пользователя должно содержать максимум 25 символов</div>
            <div class="text-danger" ng-show="userForm.username.$error.allowed">Допустимо использовать только символы латинского алфавита, цифры и символ подчеркивания</div>
        </div>
    </div>

    <div class="form-group"
         ng-class="{'has-error': (userForm.$submitted || userForm.password.$touched) && userForm.password.$invalid}">

        <label class="control-label" for="password">Пароль</label>
        <input ng-model="password" type="password"
               id="password" name="password"
               class="form-control" placeholder="Пароль"
               required ng-minlength="4" ng-maxlength="50">

        <div ng-show="userForm.$submitted || userForm.password.$touched">
            <div class="text-danger" ng-show="userForm.password.$error.required">Введите пароль</div>
            <div class="text-danger" ng-show="userForm.password.$error.minlength">Минимальная длина 4 символа</div>
            <div class="text-danger" ng-show="userForm.password.$error.maxlength">Максимальная длина 50 символов</div>
        </div>
    </div>

    <div class="form-group"
         ng-class="{'has-error': (userForm.$submitted || userForm.confirmPassword.$touched) && userForm.confirmPassword.$invalid}">

        <label class="control-label"  for="confirmPassword">Повторите пароль</label>
        <input ng-model="confirmPassword" type="password"
               id="confirmPassword" name="confirmPassword"
               class="form-control" placeholder="Повторите пароль"
               required match="password"  ng-minlength="4"  ng-maxlength="50">

        <div ng-show="userForm.$submitted || userForm.confirmPassword.$touched">
            <div class="text-danger" ng-show="userForm.confirmPassword.$error.required">Повторите пароль</div>
            <div class="text-danger" ng-show="userForm.confirmPassword.$error.match">Пароли должны совпадать</div>
            <div class="text-danger" ng-show="userForm.confirmPassword.$error.minlength">Минимальная длина 4 символа</div>
            <div class="text-danger" ng-show="userForm.confirmPassword.$error.maxlength">Максимальная длина 50 символов</div>
            <div class="text-danger" ng-show="userForm.confirmPassword.$error.maxlength">Максимальная длина 50 символов</div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label" for="full_name">Полное имя</label>
        <input ng-model="full_name" type="text"
               id="full_name" name="full_name"
               class="form-control" placeholder="Полное имя" ng-maxlength="250"/>
        <div ng-show="userForm.$submitted || userForm.full_name.$touched">
            <div class="text-danger" ng-show="userForm.full_name.$error.maxlength">Максимальная длина 250 символов</div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label" for="description">Описание</label>
        <input ng-model="description" type="text"
               id="description" name="description"
               class="form-control" placeholder="Краткое описание" ng-maxlength="250"/>
        <div ng-show="userForm.$submitted || userForm.description.$touched">
            <div class="text-danger" ng-show="userForm.description.$error.maxlength">Максимальная длина 250 символов</div>
        </div>
    </div>

    <input ng-click="signup()" class="btn btn-success btn-block" type="submit" value="Зарегистрироваться"/>
</form>