<h4>Список пользователей</h4>
<table class="table table-striped zen-table-bordered">
    <thead>
    <tr class="dropdown">
        <th>
            <span style="cursor: pointer;" ng-click="sortData('username')">Имя пользователя <i ng-class="getSortClass('username')"></i></span>
        </th>
        <th>
            <span style="cursor: pointer;" ng-click="sortData('full_name')">Полное имя <i ng-class="getSortClass('full_name')"></i></span>
        </th>
        <th>
            <span style="cursor: pointer;" ng-click="sortData('description')">Описание <i ng-class="getSortClass('description')"></i></span>
        </th>
        <th>
            <span ng-click="isShowBot = !isShowBot" style="cursor: pointer;"><i class="fa fa-paw"></i></span>
        </th>
    </tr>
    </thead>
    <tbody>
        <!--<tr ng-repeat="task in tasks | orderBy: sortColumn:reverseSort | filter:$ctrl.searchText">-->
        <tr dir-paginate="user in users | orderBy: sortColumn:reverseSort | filter:$ctrl.searchText | itemsPerPage:5" ng-show="!isBot(user) || isShowBot">
            <td><a href="#!/profile/{{user.id}}">{{ user.username }}</a></td>
            <td>{{ user.full_name }}</td>
            <td>{{ user.description }}</td>
        </tr>
    </tbody>
</table>
<dir-pagination-controls
        max-size="5"
        direction-links="true"
        boundary-links="true" >
</dir-pagination-controls>