<div class="super-message-container">
    <div class="message-container">
        <div ng-repeat="message in messages" class="alert alert-{{message.type}} alert-dismissible" role="alert">
            <button type="button" ng-click="dismissMessage(message)" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{message.text}}
        </div>
    </div>
</div>