<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a href="#!/" class="navbar-brand"><span style="color: #2DB500; font-weight: bold;">Zen</span> <span style="color: black; font-weight: bold;">Talk</span></a>
    </div>
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="#!/groups">Группы</a></li>
            <li><a href="#!/users">Пользователи</a></li>
            <li><a href="#!/talkkbs">Базы знаний</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li ng-if="!userService.isAuthenticated()"><a href="#!/signup"><span class="fa fa-user-plus"></span> Присоединиться</a></li>
            <li ng-if="!userService.isAuthenticated()"><a href="#!/signin"><span class="fa fa-sign-in fa-lg"></span> Войти</a></li>
            <li ng-if="userService.isAuthenticated()"><a href="#!/profile/{{userService.getCurrentUser().id}}"><span class="fa fa-user-circle fa-lg"></span> {{userService.getCurrentUser().username}}</a></li>
            <li ng-if="userService.isAuthenticated()"><a href ng-click="userService.logout()"><span class="fa fa-sign-out fa-lg"></span> Выйти</a></li>
        </ul>
    </div>
</nav>