<div class="container">
    <h1 class="page-header">{{user.username}}</h1>
    <div class="row">
        <!-- left column -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="text-center">
                <img src="img/avatar.png" class="avatar img-circle img-thumbnail" alt="avatar">
                <!--<h6>Upload a different photo...</h6>
                <input type="file" class="text-center center-block well well-sm">-->
            </div>
        </div>
        <!-- edit form column -->
        <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
            <!-- todo: can be use for showing some messages for user. Use it, when you'll implemented message engine
            <div class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-coffee"></i>
                This is an <strong>.alert</strong>. Use this to show important messages to the user.
            </div>-->
            <h3>Личная информация</h3>
            <form class="form-horizontal" role="form" name="userForm" novalidate>
                <div class="form-group"
                     ng-class="{'has-error': (userForm.$submitted || userForm.username.$touched) && userForm.username.$invalid}">
                    <label class="col-md-3 control-label">Имя пользователя:</label>
                    <div class="col-md-8">
                        <div class="form-control-static">{{user.username}}</div>
                        <!--<div ng-hide="isAdmin && isEditProfile" class="form-control-static">{{user.username}}</div>
                        <div ng-show="isAdmin && isEditProfile">
                            <input class="form-control" ng-value="user.username"
                                   ng-model="user.username" name="username" type="text" required username/>
                            <div ng-show="userForm.$submitted || userForm.username.$touched">
                                <div class="text-danger" ng-show="userForm.username.$error.required">Укажите имя пользователя</div>
                                <div class="text-danger" ng-show="userForm.username.$error.username">Имя пользователя уже занято</div>
                            </div>
                        </div>-->
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Полное имя:</label>
                    <div class="col-md-8">
                        <div ng-hide="isAdmin && isEditProfile" class="form-control-static">{{user.full_name}}</div>
                        <div ng-show="isAdmin && isEditProfile">
                            <input class="form-control" ng-value="user.full_name"
                                   ng-model="user.full_name" name="full_name" type="text"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Описание:</label>
                    <div class="col-md-8">
                        <div ng-hide="isAdmin && isEditProfile" class="form-control-static">{{user.description}}</div>
                        <div ng-show="isAdmin && isEditProfile">
                            <input class="form-control" ng-value="user.description"
                                   ng-model="user.description" name="description" type="text"/>
                        </div>
                    </div>
                </div>

                <div class="form-group"
                     ng-class="{'has-error': (userForm.$submitted || userForm.group.$touched) && userForm.group.$invalid}">
                    <label class="col-md-3 control-label">Группа:</label>
                    <div class="col-md-8">
                        <div ng-hide="isEditProfile && isAdmin" class="form-control-static">{{user.group.name}}</div>
                        <!--<select class="form-control" ng-model="user.group" ng-options="group as group.name for group in groups track by group.id"></select>-->
                        <oi-select
                            oi-options="group.name for group in groups track by group.id"
                            ng-model="user.group"
                            ng-show="isEditProfile && isAdmin"
                            required
                            name="group">
                        </oi-select>
                        <div ng-show="userForm.$submitted || userForm.group.$touched">
                            <div class="text-danger" ng-show="userForm.group.$error.required">Выберите группу</div>
                        </div>
                    </div>
                </div>

                <div class="form-group"
                     ng-class="{'has-error': (userForm.$submitted || userForm.roles.$touched) && userForm.roles.$invalid}">
                    <label class="col-md-3 control-label">Роли:</label>
                    <div class="col-md-8">
                        <div ng-show="!isEditProfile || !isAdmin" class="form-control-static">
                            <span style="margin-right: 3px;" ng-repeat="role in user.roles" class="badge">{{role.name}}</span>
                        </div>
                        <oi-select
                                oi-options="item.name for item in roles track by item.id"
                                ng-model="user.roles"
                                multiple
                                placeholder="Select"
                                ng-hide="!isEditProfile || !isAdmin"
                                required
                                name="roles">
                        </oi-select>
                        <div ng-show="userForm.$submitted || userForm.roles.$touched">
                            <div class="text-danger" ng-show="userForm.roles.$error.required">У пользователя должна быть как минимум одна роль</div>
                        </div>
                    </div>
                </div>

                <div ng-show="isEditProfile">
                    <div class="form-group"
                         ng-class="{'has-error': (userForm.$submitted || userForm.oldPassword.$touched) && userForm.oldPassword.$invalid}">
                        <label class="col-md-3 control-label">Пароль:</label>
                        <div class="col-md-8">
                            <input ng-model="oldPassword" class="form-control" type="password" name="oldPassword" required password />
                            <div ng-show="userForm.$submitted || userForm.oldPassword.$touched">
                                <div class="text-danger" ng-show="userForm.oldPassword.$error.password">Введите верный пароль</div>
                                <div class="text-danger" ng-show="userForm.oldPassword.$error.required">Укажите текущий пароль</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Новый пароль:</label>
                        <div class="col-md-8">
                            <input ng-model="password" class="form-control" name="password" type="password">
                        </div>
                    </div>
                    <div ng-show="password" class="form-group"
                         ng-class="{'has-error': (userForm.$submitted || userForm.confirmPassword.$touched) && userForm.confirmPassword.$invalid}">
                        <label class="col-md-3 control-label">Повторите пароль:</label>
                        <div class="col-md-8">
                            <input ng-model="confirmPassword" class="form-control" name="confirmPassword" type="password" match="password"/>
                            <div ng-show="userForm.$submitted || userForm.confirmPassword.$touched">
                                <div class="text-danger" ng-show="userForm.confirmPassword.$error.match">Пароли должны совпадать</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-if="isAdmin || currentUser.username == user.username">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input class="btn btn-success" ng-if="!isEditProfile" ng-click="edit()" value="Редактировать" type="button">

                        <input class="btn btn-primary" ng-if="isEditProfile" ng-click="save()" value="Сохранить" type="submit">

                        <input class="btn btn-default" ng-if="isEditProfile" ng-click="cancel()" value="Отмена" type="reset">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>