
<h3>Базы знаний</h3>
<div class="row">
    <div class="col-md-offset-10">
        <a href="#!/talkkb/add" class="btn btn-info" role="button"><i class="fa fa-plus" aria-hidden="true"></i> Создать базу знаний</a>
    </div>
</div>
<table class="table table-striped zen-table-bordered">
    <thead>
    <tr class="dropdown">
        <th>
            <span style="cursor: pointer;" ng-click="sortData('name')">База знаний <i ng-class="getSortClass('name')"></i></span>
        </th>
        <th>
            <span style="cursor: pointer;" ng-click="sortData('description')">Автор <i ng-class="getSortClass('description')"></i></span>
        </th><th>
            <span style="cursor: pointer;" ng-click="sortData('description')">Описание <i ng-class="getSortClass('description')"></i></span>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="talkkb in talkkbs | orderBy: sortColumn:reverseSort | filter:$ctrl.searchText | itemsPerPage:5">
        <td><a href="#!/talkkb/{{talkkb.id}}">{{ talkkb.name }}</a></td>
        <td>{{ talkkb.author.username }}</td>
        <td>{{ talkkb.description }}</td>
    </tr>
    </tbody>
</table>
<dir-pagination-controls
        max-size="5"
        direction-links="true"
        boundary-links="true" >
</dir-pagination-controls>
