<div  class="page-header">
        <h2 class="text-center">Вход</h2>
</div>
<form novalidate class="form-sign" name="userForm">

    <div ng-show="incorrect" class="alert alert-danger">
        Неверное имя пользователя или пароль
    </div>

    <div class="form-group"
         ng-class="{'has-error': (userForm.$submitted || userForm.username.$touched) && userForm.username.$invalid}">

        <label class="control-label" for="username">Имя пользователя</label>
        <input ng-model="username" type="text" class="form-control" id="username" name="username" placeholder="Имя пользователя" autofocus required />

        <div ng-show="userForm.$submitted || userForm.username.$touched">
            <div class="text-danger" ng-show="userForm.username.$error.required">Введите имя пользователя</div>
        </div>
    </div>
    <div class="form-group"
         ng-class="{'has-error': (userForm.$submitted || userForm.password.$touched) && userForm.password.$invalid}">

        <label class="control-label" for="password">Пароль</label>
        <input ng-model="password" type="password" class="form-control" name="password" id="password" placeholder="Пароль" required />

        <div ng-show="userForm.$submitted || userForm.password.$touched">
            <div class="text-danger" ng-show="userForm.password.$error.required">Введите пароль</div>
        </div>
    </div>
    <!--<div class="checkbox">
        <label><input type="checkbox"> Запомнить меня</label>
    </div>-->
    <!--type="submit"-->
    <input ng-click="signin()" class="btn btn-success btn-block" type="submit" value="Войти"/>
</form>