<!--<div class="container">
    <div class="row form-group">
        <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-8 col-lg-offset-2">-->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> {{chat.title}}
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs" ng-click="explain(!showExplanation)">
                            <span ng-show="!showExplanation">Показать вывод</span>
                            <span ng-show="showExplanation">Показать сообщения</span>
                        </button>
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li><a href ng-click="resetContext();">Сбросить контекст</a></li>
                            <li><a href>Chat ID = {{chatId}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body body-panel" id="chat-body-panel">
                    <ul ng-show="!showExplanation" class="chat">
                        <li ng-repeat="message in messages | orderBy:'id':false" class="left clearfix" style="margin: 5px;">
                            <span class="chat-img pull-left">
                                <img ng-src="http://placehold.it/50/55C1E7/fff&text={{participants[message.user_id].username.substring(0,2).toUpperCase()}}" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">{{participants[message.user_id].username}}</strong>
                                    <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>
                                        {{message.sent_when | date:"HH:mm dd.MM.yyyy"}}
                                    </small>
                                </div>
                                <p>
                                    {{message.message}}
                                </p>
                            </div>
                        </li>
                    </ul>
                    <!-- explanation-->
                    <ul ng-show="showExplanation" class="chat">
                        <!-- | orderBy:'id':false-->
                        <li ng-repeat="explanation in explanations track by $index" class="left clearfix" style="margin: 5px;">
                            {{explanation.base.name}}
                        <ul>
                            <li ng-repeat="detail in explanation.base.details track by $index">
                                {{detail.name}}<br /> <a ng-show="detail.trace.items.length != 0" href ng-click="showTrace(detail)" data-toggle="modal" data-target="#traceModal">{{detail.trace.name}}</a>
                            </li>
                        </ul>
                        </li>

                    </ul>
                </div>
                <form class="panel-footer clearfix" ng-show="!showExplanation" ng-submit="sendMessage();">
                    <div class="input-group">
                        <input autocomplete="off" ng-model="userMessage" id="btn-input" type="text" class="form-control input-sm" placeholder="Текст сообщения..." />
                        <span class="input-group-btn"> <button class="btn btn-success btn-sm" id="btn-chat"> Отправить</button> </span>
                    </div>
                </form>
            </div>
<!--
        </div>
    </div>
</div>-->
<!-- Modal -->
<div class="modal fade" id="traceModal" tabindex="-1" role="dialog" aria-labelledby="traceModal">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{detail.name}}</h4>
            </div>
            <div class="modal-body">
                <div ng-repeat="item in detail.trace.items track by $index">
                    {{item}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>