<div class="row">
    <div class="col-md-6" ng-style="{ 'overflow-y': 'scroll', 'height': iframeHeight-100 + 'px'}">
        <response-item ng-repeat="container in rootHolder" container="container" holder="rootHolder"></response-item>

        <a href class="btn btn-success" ng-disabled="editView.value == 'add_root'" role="button"  ng-if="$ctrl.kb.author.username == currentUser.username || isAdmin"
           ng-click="addRoot(true)"><i class="fa fa-plus"></i> Добавить отклик</a>
    </div>

    <div class="col-md-6">
        <div ng-show="response" style="padding-top: 10px;">
            <div class="row">
                <div class="col-md-offset-11 col-md-1 act" ng-click="reset()"><i class="fa fa-times fa-2x"></i></div>
            </div>
            <div ng-show="!editView.show">
                <div class="row" style="margin-bottom: 5px;">
                    <div class="col-md-10">
                        <h4 style="display: inline;">Отклик системы</h4>
                    </div>
                    <div class="col-md-2" ng-if="$ctrl.kb.author.username == currentUser.username || isAdmin">
                        <i ng-click="addChild(true)" class="fa fa-plus fa-lg act-success"></i>
                        <i ng-click="edit(true)" class="fa fa-pencil fa-lg act-primary"></i>
                        <i data-toggle="modal" data-target="#deleteResponsePopup" class="fa fa-trash-o fa-lg act-danger"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div style="background-color: #eee" class="thumbnail">
                            {{response.text}}
                        </div>
                    </div>
                </div>
                <!--<div ng-show="response.keywords.length">
                    <strong>Ключевые слова: </strong><span style="margin-right: 3px;" ng-repeat="keyword in response.keywords" class="badge">{{keyword.text}}</span>
                </div>
                <strong>Тип отклика: </strong>{{response.type}}-->
                <dl class="dl-horizontal">
                    <dt ng-show="response.keywords.length > 0">Ключевые слова</dt>
                    <dd><span style="margin-right: 3px;" ng-repeat="keyword in response.keywords" class="badge">{{keyword.text}}</span></dd>

                    <dt>Тип отклика</dt>
                    <dd>{{response.type.value}}</dd>

                    <dt>Контекст</dt>
                    <dd>{{response.context_behavior.value}}</dd>

                    <dt>Флаги</dt>
                    <dd><span style="margin-right: 3px;" ng-repeat="flag in response.flags" class="badge">{{flag.value}}</span></dd>
                </dl>
                <div ng-show="isAddKeyword">
                    <div class="form-group">
                        <label class="control-label" for="addKeyword">Выберите ключевое слово</label>
                        <select ng-model="selectedKeywordId" id="addKeyword" class="form-control">
                            <option ng-repeat="keyword in rootKeywords" value="{{keyword.id}}">{{keyword.text}}</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-primary btn-xs" ng-click="saveNewKeyword()">Добавить связь</button>
                    <button type="button" class="btn btn-default btn-xs" ng-click="isAddKeyword=false">Отмена</button>
                </div>
            </div>

            <div ng-show="editView.show">
                <h4 ng-if="editView.value == 'add_child'">Добавить дочерний отклик</h4>
                <h4 ng-if="editView.value == 'add_root'">Добавить корневой отклик</h4>
                <h4 ng-if="editView.value == 'edit'">Редактировать отклик</h4>
                <form novalidate name="editResponseForm">
                    <div class="form-group">
                        <label class="control-label" for="text">Текст отклика</label>
                        <textarea ng-model="editResponse.text"
                                  class="form-control" rows="3" name="text"
                                  id="text" required ng-maxlength="250"> </textarea>
                        <div ng-show="editResponseForm.$submitted || editResponseForm.text.$touched">
                            <div class="text-danger" ng-show="editResponseForm.text.$error.required">Введите отклик</div>
                            <div class="text-danger" ng-show="editResponseForm.text.$error.maxlength">Максимальное значение 250 символов</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="type">Тип отклика</label>
                        <oi-select
                                oi-options="item.value for item in responseTypes"
                                ng-model="editResponse.type"
                                placeholder="Тип отклика"
                                name="type"
                                id="type"
                                required>
                        </oi-select>
                        <div ng-show="editResponseForm.$submitted || editResponseForm.type.$touched">
                            <div class="text-danger" ng-show="editResponseForm.type.$error.required">Укажите тип отклика</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="typesOfRelations">Контекст</label>
                        <oi-select
                                oi-options="item.value for item in typesOfRelations"
                                ng-model="editResponse.context_behavior"
                                placeholder="Поведение контекста"
                                name="typesOfRelations"
                                id="typesOfRelations"
                                required>
                        </oi-select>
                        <div ng-show="editResponseForm.$submitted || editResponseForm.typesOfRelations.$touched">
                            <div class="text-danger" ng-show="editResponseForm.typesOfRelations.$error.required">Определите поведение контекста</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="keywords">Выберите ключевые слова</label>
                        <oi-select
                                oi-options="item.text for item in rootKeywords track by item.id"
                                ng-model="editResponse.keywords"
                                multiple
                                placeholder="Ключевые слова"
                                name="keywords"
                                id="keywords">
                        </oi-select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="flags">Выберите флаги</label>
                        <oi-select
                                oi-options="item.value for item in flags track by item.name"
                                ng-model="editResponse.flags"
                                multiple
                                placeholder="Флаги"
                                name="flags"
                                id="flags"
                                required>
                        </oi-select>
                        <div ng-show="editResponseForm.$submitted || editResponseForm.flags.$touched">
                            <div class="text-danger" ng-show="editResponseForm.flags.$error.required">Укажите флаги</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" ng-if="editView.value == 'edit'" ng-click="updateResponse(response)" value="Сохранить" type="submit">
                        <input class="btn btn-default" ng-if="editView.value == 'edit'" ng-click="edit(false)" value="Отмена" type="reset">

                        <input class="btn btn-success" ng-if="editView.value == 'add_child'" ng-click="addResponse()" value="Добавить" type="submit">
                        <input class="btn btn-default" ng-if="editView.value == 'add_child'" ng-click="addChild(false)" value="Отмена" type="reset">

                        <input class="btn btn-success" ng-if="editView.value == 'add_root'" ng-click="addResponse()" value="Добавить" type="submit">
                        <input class="btn btn-default" ng-if="editView.value == 'add_root'" ng-click="addRoot(false)" value="Отмена" type="reset">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- popup for remove response -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="deleteResponsePopup">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Подтвердите удаление</h4>
            </div>
            <div class="modal-body">Вы действительно хотите удалить этот отклик системы?</div>
            <div class="modal-footer">
                <button type="button" ng-click="deleteResponse(container)" class="btn btn-danger">Удалить</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>
