<div ng-click="selectResponse(container, holder)" class="thumbnail" style="width: 450px; margin: 10px; cursor: pointer;"
    ng-style="{'margin-left': level*30+'px'}">
    {{container.response.text}}
</div>
<response-item ng-repeat="child in container.response.related_responses"
               container="child" holder="container.response.related_responses" level="level+1"></response-item>