<div class="page-header">
    <h3>{{group.name}}</h3>
</div>
<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>Название группы</dt>
            <dd>{{group.name}}</dd>

            <!--<dt>Год зачисления</dt>
            <dd>{{group.revenues_when | date : 'yyyy' }}</dd>-->
        </dl>
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>Описание</dt>
            <dd>{{group.description}}</dd>

            <!--<dt>Статус</dt>
            <dd>{{group.status == 0 ? 'В процессе' : 'Выполнено'}}</dd>

            <dt>Общий прогресс</dt>
            <dd>{{group.progress}}%</dd>-->
        </dl>
        <!--<div class="row">
            <div class="col-md-offset-5">
                &lt;!&ndash;<button type="button" class="btn btn-info">Выгрузить отчет по группе</button>&ndash;&gt;
                <a class="btn btn-info" role="button"><i class="fa fa-cloud-download" aria-hidden="true"></i> Выгрузить отчет по группе</a>
            </div>
        </div>-->
    </div>
</div>
<hr />
<!--<task-list group-id="{{id}}"></task-list>-->
<user-list group-id="{{id}}"></user-list>