<ul class="keyword-list">
    <li ng-repeat="container in keywordContainers">
        <span class="keyword-item" ng-click="selectWord(container, keywordContainers)">{{container.keyword.text}}</span>
        <keyword-item level="level+1" containers="container.keyword.related_keywords"></keyword-item>
    </li>
    <li ng-if="level == 0 && ($ctrl.keywordList.kb.author.username == currentUser.username || isAdmin)"><span ng-click="addRoot()" class="keyword-item"><i class="fa fa-plus"></i> Добавить слово</span></li>
</ul>