<div class="row">
    <div class="col-md-6" ng-style="{ 'overflow-y': 'scroll', 'height': iframeHeight-100 + 'px'}">
        <keyword-item containers="keywords"></keyword-item>
    </div>
    <div ng-show="container" class="col-md-6">
        <div class="row">
            <div class="col-md-11"></div>
            <div class="col-md-1 act" ng-click="reset()"><i class="fa fa-times fa-2x"></i></div>
        </div>
        <div ng-show="!editView.show">
            <div class="row">
                <div class="col-md-9">
                    <h3 style="display: inline;">{{container.keyword.text}} </h3>
                </div>
                <div class="col-md-3" ng-if="$ctrl.kb.author.username == currentUser.username || isAdmin">
                    <i ng-click="addChild(true)" class="fa fa-plus fa-lg act-success"></i>
                    <i ng-click="edit(true)" class="fa fa-pencil fa-lg act-primary"></i>
                    <i data-toggle="modal" data-target="#deletePopup" class="fa fa-trash-o fa-lg act-danger"></i>
                </div>
            </div>
            <!--TODO-->
            <!--<div class="row">
                <div ng-show="!container.root" class="col-md-12">
                    Тип связи: {{container.type_of_relation.value}}
                </div>
            </div>-->
            <div class="row" ng-show="container.keyword.flags.length > 0" style="margin-top: 5px; margin-left: 18px;">
                <div class="col-md-12">
                    <b>Флаги</b> <span style="margin-right: 3px;" ng-repeat="flag in container.keyword.flags" class="badge">{{flag.value}}</span>
                </div>
            </div>
            <!--<dl class="dl-horizontal">
                <dt>Флаги</dt>
                <dd><span style="margin-right: 3px;" ng-repeat="flag in container.keyword.flags" class="badge">{{flag.value}}</span></dd>
            </dl>-->
        </div>
        <div ng-show="editView.show">
            <h4 ng-if="editView.value == 'add_child'">Добавить ассоциацию</h4>
            <h4 ng-if="editView.value == 'add_root'">Добавить корневое слово</h4>
            <h4 ng-if="editView.value == 'edit'">Редактировать слово</h4>
            <form novalidate name="editKeywordForm">
                <div class="form-group"
                     ng-class="{'has-error': (editKeywordForm.$submitted || editKeywordForm.editKeyword.$touched) && editKeywordForm.editKeyword.$invalid}">
                    <label class="control-label" for="editKeyword">Слово</label>
                    <input ng-model="editContainer.keyword.text" type="text" id="editKeyword"
                           name="editKeyword" class="form-control" ng-maxlength="70" required />
                    <div ng-show="editKeywordForm.$submitted || editKeywordForm.editKeyword.$touched">
                        <div class="text-danger" ng-show="editKeywordForm.editKeyword.$error.required">Введите слово</div>
                        <div class="text-danger" ng-show="editKeywordForm.editKeyword.$error.maxlength">Максимальное значение 70 символов</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="flags">Выберите флаги</label>
                    <oi-select
                            oi-options="item.value for item in flags track by item.name"
                            ng-model="editContainer.keyword.flags"
                            multiple
                            placeholder="Флаги"
                            name="flags"
                            id="flags">
                    </oi-select>
                </div>

                <!--TODO-->
                <!--<div class="form-group" ng-if="editView.value != 'add_root' && !editContainer.root"
                     ng-class="{'has-error': (editKeywordForm.$submitted || editKeywordForm.editTypeOfRelation.$touched) && editKeywordForm.editTypeOfRelation.$invalid}">

                    <label class="control-label" for="editTypeOfRelation">Тип связи</label>

                    <oi-select
                            oi-options="item.value for item in typesOfRelation"
                            ng-model="editContainer.type_of_relation"
                            placeholder="Тип связи"
                            name="editTypeOfRelation"
                            id="editTypeOfRelation"
                            required="">
                    </oi-select>

                    <div ng-show="editKeywordForm.$submitted || editKeywordForm.editTypeOfRelation.$touched">
                        <div class="text-danger" ng-show="editKeywordForm.editTypeOfRelation.$error.required">Укажите тип связи</div>
                    </div>
                </div>-->

                <div class="form-group">
                    <input class="btn btn-primary" ng-show="editView.value == 'edit'" ng-click="saveChanges()" value="Сохранить" type="submit">
                    <input class="btn btn-default" ng-show="editView.value == 'edit'" ng-click="edit(false)" value="Отмена" type="reset">

                    <input class="btn btn-success" ng-show="editView.value == 'add_child'" ng-click="addWord()" value="Добавить" type="submit">
                    <input class="btn btn-default" ng-show="editView.value == 'add_child'" ng-click="addChild(false)" value="Отмена" type="reset">

                    <input class="btn btn-success" ng-show="editView.value == 'add_root'" ng-click="addRootKeyword()" value="Добавить" type="submit">
                    <input class="btn btn-default" ng-show="editView.value == 'add_root'" ng-click="addRoot(false)" value="Отмена" type="reset">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- popup for remove keyword -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="deletePopup">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Подтвердите удаление</h4> </div>
            <div class="modal-body">Вы действительно хотите удалить ключевое слово "{{container.keyword.text}}"?</div>
            <div class="modal-footer">
                <button type="button" ng-click="remove()" class="btn btn-danger">Удалить</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>
