<div  class="page-header">
    <h2 class="text-center">Добавление группы</h2>
</div>
<form class="form-center" ng-show="!id" style="width: 600px;">
    <div class="form-group">
        <label for="name">Название группы</label>
        <input ng-model="newGroup.name" type="text" class="form-control" id="name" placeholder="Название группы" autofocus>
    </div>
    <div class="form-group">
        <label for="description">Описание</label>
        <input ng-model="newGroup.description" type="text" class="form-control" id="description" placeholder="Описание">
    </div>
    <!--<div class="form-group">
        <label for="revenues_when">Год зачисления</label>
        <input ng-model="newGroup.revenues_when" type="text" class="form-control" id="revenues_when" placeholder="Год зачисления">
    </div>-->
    <button ng-click="addGroup()" class="btn btn-success btn-block">Добавить</button>
</form>
<h2 ng-show="id">
    ID новой группы: {{id}}
</h2>