<div class="row">
    <div class="col-md-3" ng-style="{ 'overflow-y': 'scroll', 'height': iframeHeight-100 + 'px'}">

        <div class="list-group">
            <a class="list-group-item active">
                Чаты
            </a>
            <a ng-repeat="chat in chats" ng-click="selectChat(chat.id)" class="list-group-item action">{{chat.title}}</a>
            <a data-toggle="modal" data-target="#createChat" class="list-group-item action"><i class="fa fa-plus" aria-hidden="true"></i> Новый чат</a>
        </div>
    </div>

    <div class="col-md-9">
        <conversation ng-show="selectedChatId" chat-id="selectedChatId"></conversation>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="createChat">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Новый чат</h4> </div>
            <div class="modal-body">
                <form class="form-center" ng-show="!id" style="width: 600px;">
                    <div class="form-group">
                        <label for="name">Название чата</label>
                        <input ng-model="newChat.title" type="text" class="form-control" id="name" placeholder="Название" autofocus>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="createChat(newChat)" class="btn btn-danger">Создать</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>
